# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
env/
.myenv/
.myenv*/
myenv1/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/
*.swp
